In [67]:
#Loading the data

import os
import pandas as pd

df= pd.read_csv('audible_uncleaned.csv')
print(df.head)

<bound method NDFrame.head of                                              name                     author  \
0                      Geronimo Stilton #11 & #12  Writtenby:GeronimoStilton
1                                The Burning Maze      Writtenby:RickRiordan
2                                    The Deep End       Writtenby:JeffKinney
3                            Daughter of the Deep      Writtenby:RickRiordan
4      The Lightning Thief: Percy Jackson, Book 1      Writtenby:RickRiordan
...                                           ...                        ...
87484                   Last Days of the Bus Club     Writtenby:ChrisStewart
87485                                    The Alps    Writtenby:StephenO'Shea
87486                        The Innocents Abroad        Writtenby:MarkTwain
87487                       A Sentimental Journey   Writtenby:LaurenceSterne
87488                                      Havana    Writtenby:MarkKurlansky

                        narrator                time releasedate language  \
0          Narratedby:BillLobely   2 hrs and 20 mins    04-08-08  English
1       Narratedby:RobbieDaymond   13 hrs and 8 mins    01-05-18  English
2          Narratedby:DanRussell    2 hrs and 3 mins    06-11-20  English
3      Narratedby:SoneelaNankani  11 hrs and 16 mins    05-10-21  English
4      Narratedby:JesseBernstein              10 hrs    13-01-10  English
...                          ...                 ...         ...      ...
87484    Narratedby:ChrisStewart   7 hrs and 34 mins    09-03-17  English
87485      Narratedby:RobertFass   10 hrs and 7 mins    21-02-17  English
87486       Narratedby:FloGibson   19 hrs and 4 mins    30-12-16  English
87487     Narratedby:AntonLesser    4 hrs and 8 mins    23-02-11  English
87488     Narratedby:FleetCooper     6 hrs and 1 min    07-03-17  English

                               stars   price
0         5 out of 5 stars34 ratings  468.00
1       4.5 out of 5 stars41 ratings  820.00
2       4.5 out of 5 stars38 ratings  410.00
3       4.5 out of 5 stars12 ratings  615.00
4      4.5 out of 5 stars181 ratings  820.00
...                              ...     ...
87484                  Not rated yet  596.00
87485                  Not rated yet  820.00
87486                  Not rated yet  938.00
87487                  Not rated yet  680.00
87488                  Not rated yet  569.00

[87489 rows x 8 columns]>

In [68]:
# getting the columns of the dataset
columns = list(df.columns)
columns

['name',
 'author',
 'narrator',
 'time',
 'releasedate',
 'language',
 'stars',
 'price']

In [69]:
# examining missing values
print("Missing values distribution: ")
print(df.isnull().mean())
print("")

Missing values distribution:
name           0.0
author         0.0
narrator       0.0
time           0.0
releasedate    0.0
language       0.0
stars          0.0
price          0.0
dtype: float64

In [70]:
#separate stars and ratings column

def separate_ratings(data, column_name):
    ratings = []
    for value in data[column_name]:
        if value == 'Not rated yet':
            ratings.append(None)
            continue
        
        # Split the string into two parts based on the ' stars' substring
        parts = value.split(' stars')
        
      # Extract the second part and remove either ' ratings' or ' rating' substring
        rating_string = parts[1].replace(' ratings', '').replace(' rating', '')
        
        # Replace any commas in the string with nothing
        rating_string = rating_string.replace(',', '')
        
        # Convert the string to an integer
        number_of_ratings = int(rating_string)
        
        # Add the extracted number of ratings to the list
        ratings.append(number_of_ratings)
    
    # Add the list of ratings as a new column in the dataframe
    df['ratings'] = ratings
    
    return df

df = separate_ratings(df, 'stars')
print(df.head)

<bound method NDFrame.head of                                              name                     author  \
0                      Geronimo Stilton #11 & #12  Writtenby:GeronimoStilton
1                                The Burning Maze      Writtenby:RickRiordan
2                                    The Deep End       Writtenby:JeffKinney
3                            Daughter of the Deep      Writtenby:RickRiordan
4      The Lightning Thief: Percy Jackson, Book 1      Writtenby:RickRiordan
...                                           ...                        ...
87484                   Last Days of the Bus Club     Writtenby:ChrisStewart
87485                                    The Alps    Writtenby:StephenO'Shea
87486                        The Innocents Abroad        Writtenby:MarkTwain
87487                       A Sentimental Journey   Writtenby:LaurenceSterne
87488                                      Havana    Writtenby:MarkKurlansky

                        narrator                time releasedate language  \
0          Narratedby:BillLobely   2 hrs and 20 mins    04-08-08  English
1       Narratedby:RobbieDaymond   13 hrs and 8 mins    01-05-18  English
2          Narratedby:DanRussell    2 hrs and 3 mins    06-11-20  English
3      Narratedby:SoneelaNankani  11 hrs and 16 mins    05-10-21  English
4      Narratedby:JesseBernstein              10 hrs    13-01-10  English
...                          ...                 ...         ...      ...
87484    Narratedby:ChrisStewart   7 hrs and 34 mins    09-03-17  English
87485      Narratedby:RobertFass   10 hrs and 7 mins    21-02-17  English
87486       Narratedby:FloGibson   19 hrs and 4 mins    30-12-16  English
87487     Narratedby:AntonLesser    4 hrs and 8 mins    23-02-11  English
87488     Narratedby:FleetCooper     6 hrs and 1 min    07-03-17  English

                               stars   price  ratings
0         5 out of 5 stars34 ratings  468.00     34.0
1       4.5 out of 5 stars41 ratings  820.00     41.0
2       4.5 out of 5 stars38 ratings  410.00     38.0
3       4.5 out of 5 stars12 ratings  615.00     12.0
4      4.5 out of 5 stars181 ratings  820.00    181.0
...                              ...     ...      ...
87484                  Not rated yet  596.00      NaN
87485                  Not rated yet  820.00      NaN
87486                  Not rated yet  938.00      NaN
87487                  Not rated yet  680.00      NaN
87488                  Not rated yet  569.00      NaN

[87489 rows x 9 columns]>

In [75]:
#separate star value and if "Not rated yet" add in a 0 value


def f(row):
    if row == 'Not rated yet':
        return 0.0
    else:
        first_el=row.split(" ")[0]
        return first_el
df['stars']=df.stars.apply(f)
    
print(df)

                                             name                     author  \
0                      Geronimo Stilton #11 & #12  Writtenby:GeronimoStilton
1                                The Burning Maze      Writtenby:RickRiordan
2                                    The Deep End       Writtenby:JeffKinney
3                            Daughter of the Deep      Writtenby:RickRiordan
4      The Lightning Thief: Percy Jackson, Book 1      Writtenby:RickRiordan
...                                           ...                        ...
87484                   Last Days of the Bus Club     Writtenby:ChrisStewart
87485                                    The Alps    Writtenby:StephenO'Shea
87486                        The Innocents Abroad        Writtenby:MarkTwain
87487                       A Sentimental Journey   Writtenby:LaurenceSterne
87488                                      Havana    Writtenby:MarkKurlansky

                        narrator                time releasedate language  \
0          Narratedby:BillLobely   2 hrs and 20 mins    04-08-08  English
1       Narratedby:RobbieDaymond   13 hrs and 8 mins    01-05-18  English
2          Narratedby:DanRussell    2 hrs and 3 mins    06-11-20  English
3      Narratedby:SoneelaNankani  11 hrs and 16 mins    05-10-21  English
4      Narratedby:JesseBernstein              10 hrs    13-01-10  English
...                          ...                 ...         ...      ...
87484    Narratedby:ChrisStewart   7 hrs and 34 mins    09-03-17  English
87485      Narratedby:RobertFass   10 hrs and 7 mins    21-02-17  English
87486       Narratedby:FloGibson   19 hrs and 4 mins    30-12-16  English
87487     Narratedby:AntonLesser    4 hrs and 8 mins    23-02-11  English
87488     Narratedby:FleetCooper     6 hrs and 1 min    07-03-17  English

      stars   price  ratings
0         5  468.00     34.0
1       4.5  820.00     41.0
2       4.5  410.00     38.0
3       4.5  615.00     12.0
4       4.5  820.00    181.0
...     ...     ...      ...
87484   0.0  596.00      NaN
87485   0.0  820.00      NaN
87486   0.0  938.00      NaN
87487   0.0  680.00      NaN
87488   0.0  569.00      NaN

[87489 rows x 9 columns]

In [79]:
#convert time column to numerical int

def convert_time_to_minutes(row):
    time_string = row['time']
    time_parts = time_string.split()
    hours = 0
    minutes = 0
    for i in range(len(time_parts)):
        if time_parts[i] == 'hrs':
            hours = int(time_parts[i-1])
        elif time_parts[i] == 'mins':
            minutes = int(time_parts[i-1])
    total_minutes = hours * 60 + minutes
    return total_minutes

df['time'] = df.apply(convert_time_to_minutes, axis=1)
print(df)

                                             name                     author  \
0                      Geronimo Stilton #11 & #12  Writtenby:GeronimoStilton
1                                The Burning Maze      Writtenby:RickRiordan
2                                    The Deep End       Writtenby:JeffKinney
3                            Daughter of the Deep      Writtenby:RickRiordan
4      The Lightning Thief: Percy Jackson, Book 1      Writtenby:RickRiordan
...                                           ...                        ...
87484                   Last Days of the Bus Club     Writtenby:ChrisStewart
87485                                    The Alps    Writtenby:StephenO'Shea
87486                        The Innocents Abroad        Writtenby:MarkTwain
87487                       A Sentimental Journey   Writtenby:LaurenceSterne
87488                                      Havana    Writtenby:MarkKurlansky

                        narrator  time releasedate language stars   price  \
0          Narratedby:BillLobely   140    04-08-08  English     5  468.00
1       Narratedby:RobbieDaymond   788    01-05-18  English   4.5  820.00
2          Narratedby:DanRussell   123    06-11-20  English   4.5  410.00
3      Narratedby:SoneelaNankani   676    05-10-21  English   4.5  615.00
4      Narratedby:JesseBernstein   600    13-01-10  English   4.5  820.00
...                          ...   ...         ...      ...   ...     ...
87484    Narratedby:ChrisStewart   454    09-03-17  English   0.0  596.00
87485      Narratedby:RobertFass   607    21-02-17  English   0.0  820.00
87486       Narratedby:FloGibson  1144    30-12-16  English   0.0  938.00
87487     Narratedby:AntonLesser   248    23-02-11  English   0.0  680.00
87488     Narratedby:FleetCooper   360    07-03-17  English   0.0  569.00

       ratings
0         34.0
1         41.0
2         38.0
3         12.0
4        181.0
...        ...
87484      NaN
87485      NaN
87486      NaN
87487      NaN
87488      NaN

[87489 rows x 9 columns]

In [82]:
#reformat all dates

def convert_date_format(row):
    date_string = row['releasedate']
    if '/' in date_string:
        parts = date_string.split('/')
        month = parts[0]
        day = parts[1]
        year = parts[2]
    elif '-' in date_string:
        parts = date_string.split('-')
        day = parts[0]
        month = parts[1]
        year = parts[2]
    new_date = month + '/' + day + '/' + year
    return new_date

df['releasedate'] = df.apply(convert_date_format, axis=1)
print(df)

                                             name                     author  \
0                      Geronimo Stilton #11 & #12  Writtenby:GeronimoStilton
1                                The Burning Maze      Writtenby:RickRiordan
2                                    The Deep End       Writtenby:JeffKinney
3                            Daughter of the Deep      Writtenby:RickRiordan
4      The Lightning Thief: Percy Jackson, Book 1      Writtenby:RickRiordan
...                                           ...                        ...
87484                   Last Days of the Bus Club     Writtenby:ChrisStewart
87485                                    The Alps    Writtenby:StephenO'Shea
87486                        The Innocents Abroad        Writtenby:MarkTwain
87487                       A Sentimental Journey   Writtenby:LaurenceSterne
87488                                      Havana    Writtenby:MarkKurlansky

                        narrator  time releasedate language stars   price  \
0          Narratedby:BillLobely   140    08/04/08  English     5  468.00
1       Narratedby:RobbieDaymond   788    05/01/18  English   4.5  820.00
2          Narratedby:DanRussell   123    11/06/20  English   4.5  410.00
3      Narratedby:SoneelaNankani   676    10/05/21  English   4.5  615.00
4      Narratedby:JesseBernstein   600    01/13/10  English   4.5  820.00
...                          ...   ...         ...      ...   ...     ...
87484    Narratedby:ChrisStewart   454    03/09/17  English   0.0  596.00
87485      Narratedby:RobertFass   607    02/21/17  English   0.0  820.00
87486       Narratedby:FloGibson  1144    12/30/16  English   0.0  938.00
87487     Narratedby:AntonLesser   248    02/23/11  English   0.0  680.00
87488     Narratedby:FleetCooper   360    03/07/17  English   0.0  569.00

       ratings
0         34.0
1         41.0
2         38.0
3         12.0
4        181.0
...        ...
87484      NaN
87485      NaN
87486      NaN
87487      NaN
87488      NaN

[87489 rows x 9 columns]

In [84]:
#clean narrator row

def clean_narr(row):
    try:
        narr = row.split(":")[1].strip()
    except IndexError:
        narr = ""
    return narr

df['narrator'] = df['narrator'].apply(clean_narr)
print(df)

                                             name                     author  \
0                      Geronimo Stilton #11 & #12  Writtenby:GeronimoStilton
1                                The Burning Maze      Writtenby:RickRiordan
2                                    The Deep End       Writtenby:JeffKinney
3                            Daughter of the Deep      Writtenby:RickRiordan
4      The Lightning Thief: Percy Jackson, Book 1      Writtenby:RickRiordan
...                                           ...                        ...
87484                   Last Days of the Bus Club     Writtenby:ChrisStewart
87485                                    The Alps    Writtenby:StephenO'Shea
87486                        The Innocents Abroad        Writtenby:MarkTwain
87487                       A Sentimental Journey   Writtenby:LaurenceSterne
87488                                      Havana    Writtenby:MarkKurlansky

             narrator  time releasedate language stars   price  ratings
0          BillLobely   140    08/04/08  English     5  468.00     34.0
1       RobbieDaymond   788    05/01/18  English   4.5  820.00     41.0
2          DanRussell   123    11/06/20  English   4.5  410.00     38.0
3      SoneelaNankani   676    10/05/21  English   4.5  615.00     12.0
4      JesseBernstein   600    01/13/10  English   4.5  820.00    181.0
...               ...   ...         ...      ...   ...     ...      ...
87484    ChrisStewart   454    03/09/17  English   0.0  596.00      NaN
87485      RobertFass   607    02/21/17  English   0.0  820.00      NaN
87486       FloGibson  1144    12/30/16  English   0.0  938.00      NaN
87487     AntonLesser   248    02/23/11  English   0.0  680.00      NaN
87488     FleetCooper   360    03/07/17  English   0.0  569.00      NaN

[87489 rows x 9 columns]

In [85]:
#clean author row

def clean_auth(row):
    try:
        auth = row.split(":")[1].strip()
    except IndexError:
        auth = ""
    return auth

df['author'] = df['author'].apply(clean_auth)
print(df)

                                             name           author  \
0                      Geronimo Stilton #11 & #12  GeronimoStilton
1                                The Burning Maze      RickRiordan
2                                    The Deep End       JeffKinney
3                            Daughter of the Deep      RickRiordan
4      The Lightning Thief: Percy Jackson, Book 1      RickRiordan
...                                           ...              ...
87484                   Last Days of the Bus Club     ChrisStewart
87485                                    The Alps    StephenO'Shea
87486                        The Innocents Abroad        MarkTwain
87487                       A Sentimental Journey   LaurenceSterne
87488                                      Havana    MarkKurlansky

             narrator  time releasedate language stars   price  ratings
0          BillLobely   140    08/04/08  English     5  468.00     34.0
1       RobbieDaymond   788    05/01/18  English   4.5  820.00     41.0
2          DanRussell   123    11/06/20  English   4.5  410.00     38.0
3      SoneelaNankani   676    10/05/21  English   4.5  615.00     12.0
4      JesseBernstein   600    01/13/10  English   4.5  820.00    181.0
...               ...   ...         ...      ...   ...     ...      ...
87484    ChrisStewart   454    03/09/17  English   0.0  596.00      NaN
87485      RobertFass   607    02/21/17  English   0.0  820.00      NaN
87486       FloGibson  1144    12/30/16  English   0.0  938.00      NaN
87487     AntonLesser   248    02/23/11  English   0.0  680.00      NaN
87488     FleetCooper   360    03/07/17  English   0.0  569.00      NaN

[87489 rows x 9 columns]

In [87]:
def add_year_column(df, date_column_name, new_column_name):
    # Convert the date column to a pandas datetime object
    df[date_column_name] = pd.to_datetime(df[date_column_name], format='%m/%d/%y')
    
    # Extract the year from the datetime object and add it as a new column
    df[new_column_name] = df[date_column_name].dt.year
    

add_year_column(df, 'releasedate', 'releaseyear')
print(df)

                                             name           author  \
0                      Geronimo Stilton #11 & #12  GeronimoStilton
1                                The Burning Maze      RickRiordan
2                                    The Deep End       JeffKinney
3                            Daughter of the Deep      RickRiordan
4      The Lightning Thief: Percy Jackson, Book 1      RickRiordan
...                                           ...              ...
87484                   Last Days of the Bus Club     ChrisStewart
87485                                    The Alps    StephenO'Shea
87486                        The Innocents Abroad        MarkTwain
87487                       A Sentimental Journey   LaurenceSterne
87488                                      Havana    MarkKurlansky

             narrator  time releasedate language stars   price  ratings  \
0          BillLobely   140  2008-08-04  English     5  468.00     34.0
1       RobbieDaymond   788  2018-05-01  English   4.5  820.00     41.0
2          DanRussell   123  2020-11-06  English   4.5  410.00     38.0
3      SoneelaNankani   676  2021-10-05  English   4.5  615.00     12.0
4      JesseBernstein   600  2010-01-13  English   4.5  820.00    181.0
...               ...   ...         ...      ...   ...     ...      ...
87484    ChrisStewart   454  2017-03-09  English   0.0  596.00      NaN
87485      RobertFass   607  2017-02-21  English   0.0  820.00      NaN
87486       FloGibson  1144  2016-12-30  English   0.0  938.00      NaN
87487     AntonLesser   248  2011-02-23  English   0.0  680.00      NaN
87488     FleetCooper   360  2017-03-07  English   0.0  569.00      NaN

       releaseyear
0             2008
1             2018
2             2020
3             2021
4             2010
...            ...
87484         2017
87485         2017
87486         2016
87487         2011
87488         2017

[87489 rows x 10 columns]

In [89]:
def add_month_column(df, date_column_name, new_column_name):
    # Convert the date column to a pandas datetime object
    df[date_column_name] = pd.to_datetime(df[date_column_name], format='%m/%d/%y')
    
    # Extract the year from the datetime object and add it as a new column
    df[new_column_name] = df[date_column_name].dt.month
    

add_month_column(df, 'releasedate', 'releasemonth')
print(df)

                                             name           author  \
0                      Geronimo Stilton #11 & #12  GeronimoStilton
1                                The Burning Maze      RickRiordan
2                                    The Deep End       JeffKinney
3                            Daughter of the Deep      RickRiordan
4      The Lightning Thief: Percy Jackson, Book 1      RickRiordan
...                                           ...              ...
87484                   Last Days of the Bus Club     ChrisStewart
87485                                    The Alps    StephenO'Shea
87486                        The Innocents Abroad        MarkTwain
87487                       A Sentimental Journey   LaurenceSterne
87488                                      Havana    MarkKurlansky

             narrator  time releasedate language stars   price  ratings  \
0          BillLobely   140  2008-08-04  English     5  468.00     34.0
1       RobbieDaymond   788  2018-05-01  English   4.5  820.00     41.0
2          DanRussell   123  2020-11-06  English   4.5  410.00     38.0
3      SoneelaNankani   676  2021-10-05  English   4.5  615.00     12.0
4      JesseBernstein   600  2010-01-13  English   4.5  820.00    181.0
...               ...   ...         ...      ...   ...     ...      ...
87484    ChrisStewart   454  2017-03-09  English   0.0  596.00      NaN
87485      RobertFass   607  2017-02-21  English   0.0  820.00      NaN
87486       FloGibson  1144  2016-12-30  English   0.0  938.00      NaN
87487     AntonLesser   248  2011-02-23  English   0.0  680.00      NaN
87488     FleetCooper   360  2017-03-07  English   0.0  569.00      NaN

       releaseyear  releasemonth
0             2008             8
1             2018             5
2             2020            11
3             2021            10
4             2010             1
...            ...           ...
87484         2017             3
87485         2017             2
87486         2016            12
87487         2011             2
87488         2017             3

[87489 rows x 11 columns]

In [90]:
df['language'].unique()

array(['English', 'Hindi', 'spanish', 'german', 'french', 'catalan',
       'swedish', 'italian', 'danish', 'finnish', 'dutch', 'hebrew',
       'russian', 'polish', 'galician', 'afrikaans', 'icelandic',
       'romanian', 'japanese', 'tamil', 'portuguese', 'urdu', 'hungarian',
       'czech', 'bulgarian', 'mandarin_chinese', 'basque', 'korean',
       'arabic', 'greek', 'turkish', 'ukrainian', 'slovene', 'norwegian',
       'telugu', 'lithuanian'], dtype=object)